*, *::after, *::before{
    box-sizing: border-box;
} 

div{
    background-color: aquamarine;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    height: 2.7rem;
    width: 2.7rem;
}

body{
    background-color: darkslategrey;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: palegreen;
    text-align: center;
}

section {
    display: grid;
    /* grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin); */
        /* grid-gap: 1vmin; */
}

/* #c1r2, #c1r0{
    border-color: palegreen;
    border-width: 0 5px 0 5px;
    border-style: solid;
}

#c1r1{
    border-color: palegreen;
    border-width: 5px;
    border-style: solid;
}

#c0r1, #c2r1{
    border-color: palegreen;
    border-width: 5px 0 5px 0;
    border-style: solid;
} */